/* #root {
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav li {
  list-style: none;
  display: inline;
}

.main-padding {
  width: 80vw;
  margin: 0 auto;
}
